.div_menu {
    width: 100%;
    background: black;
}
.menu {
    color: white;
    text-transform: uppercase;
}
.slider-div {
    text-align: center;
    margin-top: 5px;
}
footer {
    background: black;
    text-align: center;
    width: 100%;
    color: white;
}